* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 2rem auto;
  background-color: #f0f0f0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: #98fb988d;
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

#player-choices {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

#game-messages {
  padding: 20px;
  border-radius: 8px;
}

.game-message {
  padding: 4px;
}

button {
  padding: 5px;
  background-color: #dff8df8d;
  border: 1px solid #4676468d;
  border-radius: 5px;
}

#restart {
  margin-top: 1rem;
}

#game-score {
  background-color: #dff8df8d;
  padding: 5px;
  border-radius: 2rem;
}
